*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background: #131313;
}

.container{
    position: relative;
    width:1200px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    transform-style: preserve-3d;

}

.container .box{
    position: relative;
    width:300px;
    height:400px;
    margin:40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}

.container .box::before{
    content: "T's";
    position: absolute;
    top:20px;
    left:20px;
    font-size: 5em;
    font-weight:900;
    color:#fff;
    font-style: italic;
    opacity: 0;
}

.container .box::after{
    content: "LEGS";
    position: absolute;
    right:60px;
    bottom:20px;
    font-size: 5em;
    font-weight:900;
    color:#fff;
    font-style: italic;
    opacity: 0;
    transition:0.5s;
}

.container .box:hover::before,
.container .box:hover::after{
    opacity:0.04;
}

.container .box .brand_name{
    position:absolute;
    top:0;
    left:0;
    text-align:center;
    width:100%;
    color:#fff;
    transform:translate3d(0, 0, 75px);
    transform-style: preserve-3d;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.container .box:hover .brand_name{
    top:40px;
    opacity: 1;
}

.container .box .buy{
    position:absolute;
    left:50%;
    bottom:0;
    background: #333;
    color:#fff;
    padding:10px 25px;
    border-radius:30px;
    text-decoration: none;
    transform:translate3d(-50%, 0, 75px);
    transform-style: preserve-3d;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}


.container .box:hover .buy{
    bottom:20px;
    opacity: 1;
}

.container .box .brand_name{
    position:absolute;
    top:0;
    left:0;
    text-align:center;
    width:100%;
    color:#fff;
    transform:translate3d(0, 0, 75px);
    transform-style: preserve-3d;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.container .box:hover .brand_name{
    top:40px;
    opacity: 1;
}

.container .box .circle{
    position:absolute;
    top:50%;
    left:50%;
    width:150px;
    height:150px;
    background: #fff;
    border-radius:50%;
    transform:translate3d(-50%, -50%, 50px);
    transform-style: preserve-3d;
    transition: 0.5s;
    z-index: 10;
    opacity: 1;
}



.container .box .product{
    position:absolute;
    top:50%;
    left:50%;
    max-width:400px;
    transform:translate3d(-50%, -50%, 50px) ;
    transform-style: preserve-3d;
    transition: 0.5s;
    z-index: 11;
}

.container .box:hover .product{
    transform:translate3d(-50%, -50%, 100px) rotate(-15deg);
}

.container .box:nth-child(1) .circle,
.container .box:nth-child(1) .buy{
    background: #379bf7;

}

.container .box:nth-child(2) .circle,
.container .box:nth-child(2) .buy{
    background: pink;
}

.container .box:nth-child(3) .circle,
.container .box:nth-child(3) .buy{
    background: #aa733f;

}